<div class="flex justify-between flex-wrap items-center gap-2">
  <a href="/">
    <img class="m-auto w-24" src="{{ asset('resources/images/presuntosojis.gif') }}" alt="" />
  </a>

  <div>
    @!component('components/search-form')
  </div>
</div>

<div class="divider">
</div>
