<div class="flex justify-between flex-wrap items-center gap-2">
  <a href="/">
    <img class="m-auto w-24" src="{{ buildImageUrl('https://presunto.co/wp-content/uploads/2024/08/presuntosojis.gif', { w: 100 }) }}" alt="" />
  </a>

  <div>
    @!component('components/search-form')
  </div>
</div>

<div class="divider">
</div>
