<a class=" indicator font-bold text-2xl btn-outline btn-primary" href="/">
  <span>Presunta Búsqueda</span>
  <span class="badge text-xs badge-sm badge-outline indicator indicator-item">βeta</span>
</a>