<!DOCTYPE html lang="es">
<html data-theme="cupcake">
  <head>
    <meta charset="utf-8" />
    <title>
      {{ title || "Your default title" }}
    </title>
    @if ($slots.meta)
      {{{ await $slots.meta() }}}
    @endif
    
    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
  <body>
    <div class="w-full">
      <div class="m-auto max-w-7xl">
        {{{ await $slots.main() }}}
      </div>
    </div>
  </body>
</html>
