<!DOCTYPE html lang="es">
<html data-theme="cupcake">
  <head>
    <meta charset="utf-8" />
    <title>
      {{ title || "Your default title" }}
    </title>
    @if ($slots.meta)
      {{{ await $slots.meta() }}}
    @endif
    
    @vite(['resources/css/app.css', 'resources/js/app.ts'])
    <script
      defer
      data-domains="presunto.krthr.co"
      src="https://analytics.krthr.co/script.js"
      data-website-id="302b0c47-6823-42a7-9082-46e039deff7e"
    ></script>
  </head>
  <body>
    <div class="w-full">
      <div class="m-auto max-w-7xl py-10 pt-20 px-2 sm:px-0">
        {{{ await $slots.main() }}}
      </div>
    </div>
  </body>
</html>
