<!DOCTYPE html lang="es">
<html data-theme="cupcake">
  <head>
    <meta charset="utf-8" />
    <title>
      {{ title || "Presunta Búsqueda" }}
    </title>
    @if ($slots.meta)
      {{{ await $slots.meta() }}}
    @endif
    
    @vite(['resources/css/app.css', 'resources/js/app.ts'])
    <script
      defer
      data-domains="presunto.krthr.co"
      src="https://analytics.krthr.co/script.js"
      data-website-id="302b0c47-6823-42a7-9082-46e039deff7e"
    ></script>
  </head>
  <body>
    <div class="w-full">
      <div class="m-auto max-w-7xl py-10 px-2 sm:px-0">
        <div class="navbar items-center mb-10">
          <div class="flex-1">
            <h1 class="font-bold text-xl">
              <a href="/">Presunta Búsqueda</a>
            </h1>
          </div>
          <div class="flex-none gap-2">
            <form action="/" method="GET" class="mb-0">
              <label class="input input-bordered flex items-center gap-2 md:w-auto">
                <input name="q" type="text" placeholder="Buscar..." class="grow" value="{{ session.get('q', '') }}" />
                <button class="" type="submit">
                  <iconify-icon icon="ph:magnifying-glass" height="25"></iconify-icon>
                </button>
              </label>
            </form>
          </div>
        </div>

        {{{ await $slots.main() }}}
      </div>
    </div>
  </body>
</html>
