@layout.app({ title: 'Presunta Búsqueda' })
  <div class="">
    <div class="text-center">
      
      <img class="m-auto max-w-[400px] w-full" src="{{ buildImageUrl('https://presunto.co/wp-content/uploads/2024/08/presuntosojis.gif', { w: 350 }) }}" alt="" />
    </div>

    <div>
      @!component('components/search-form')
    </div>
  </div>
@end
