@layout.app({
  title: session.get('q') ? `Resultados para ${session.get('q')}` : 'Presunta Búsqueda'
})
  <div>
    @!header()
  </div>

  <div>
    @!component('components/episodes-grid', { episodes, totalPages, page, q, total })
    @!component('components/paginate', { page, nextPage, prevPage, q, totalPages })
  </div>
@end
